.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.Home-maincontainer {
  position: relative;
  background-color: black;
  width: 1600px;
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
}

.Home-maincontainer__nav {
  margin-top: 570px;
  height: 160px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
}

.Home-maincontainer__nav-button {
  position: absolute;
  height: 160px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.Home-maincontainer__nav-button:hover {
  opacity: 0.8;
}

.Home-maincontainer__nav-button img {
  height: 100%;
  width: 100%;
}

.Home-maincontainer__nav-button:first-child {
  margin-left: 280px;
}

.Home-maincontainer__nav-button:nth-child(2) {
  margin-left: 560px;
}

.Home-maincontainer__nav-button:nth-child(3) {
  margin-left: 840px;
}

.Home-maincontainer__nav-button:last-child {
  margin-left: 1120px;
}

.Mobile_Home {
  display: none;
}
