.Home {
  display: flex;
  justify-content: center;
  background-color: black;
}

.Home-maincontainer {
  position: relative;
  background-color: black;
  width: 1600px;
  height: 1200px;
  background-repeat: no-repeat;
  overflow: hidden;
  /* background-size: cover; */
}

.Home-maincontainer__nav {
  margin-top: 570px;
  height: 160px;
  width: 100%;

  /* opacity: 0.5; */
  /* background-color: beige; */

  z-index: 100;
  display: flex;
  justify-content: flex-start;
}
.Home-maincontainer__nav-button {
  /* background-color: aqua; */
  position: absolute;
  height: 160px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.Home-maincontainer__nav-button img {
  height: 100%;
  width: 100%;
}

.Home-maincontainer__nav-button:first-child {
  margin-left: 280px;
}

.Home-maincontainer__nav-button:nth-child(2) {
  margin-left: 560px;
}

.Home-maincontainer__nav-button:nth-child(3) {
  margin-left: 840px;
}

.Home-maincontainer__nav-button:last-child {
  margin-left: 1120px;
}
