@media screen and (max-width: 1000px) {
  .Home {
    display: none;
  }
  .MintPage__Main-container {
    display: none;
  }

  .Mobile_Home {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
  }

  .Mobile_Home_maincontainer {
    width: 400px;
    height: 711px;
    background-repeat: no-repeat;
    background-position: center 0;
    /* background-size: 100% 100%; */
    /* background-size: 100%; */
    /* background-size: contain; */

    display: flex;
    justify-content: center;
  }

  .UtilEvent__Main-container {
    width: 100%;
  }

  .Mobile_Home_maincontainer__button-container {
    /* background-color: aqua; */
    /* opacity: 0.5; */

    margin-top: 300px;
    height: 200px;
  }
  .Mobile_Home_maincontainer__button-container-row {
    display: flex;
    margin-top: 20px;
  }

  .Mobile_Home__button {
    /* background-color: antiquewhite; */
    margin: 10px;
  }

  .Mobile_Home__button img {
    width: 120px;
  }

  .Mobile_MintPage__Main-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
  }

  .Mobile_MintPage__Mint-container {
    width: 400px;
    height: 711px;
    background-repeat: no-repeat;
    background-position: center 0;
    /* background-size: 100% 100%; */
    /* background-size: 100%; */
    /* background-size: contain; */

    display: flex;
    justify-content: center;
  }

  .Mobile-MinPage__MintWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Mobile-MintPage__MintInfo {
    /* position: absolute; */
    /* background-color: aqua; */
    /* left: 200px; */
    /* top: 100px; */
    margin-top: 20px;
    /* width: 600px; */

    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "GmarketSansTTFBold", serif;
    color: white;
  }

  .Mobile-MintPage__MintInfo-AmountFont {
    font-size: 30px;
  }

  .Mobile-MintPage__MintInfo-RemainingSupply {
    /* margin-top: 0px; */
    font-size: 60px;
  }

  .Mobile-MintPage__MintInfo-price {
    font-size: 20px;
  }

  .Mobile-MintPage__MintInfo-price_grey {
    font-weight: 100;
    opacity: 0.5;
    font-size: 15px;
  }

  .Mobile-MintPage__MintAmountBox {
    /* position: absolute; */
    /* top: 350px; */
    /* left: 690px; */
    margin-top: 20px;
    display: flex;
    /* background-color: gray; */
    width: 220px;
    padding: 20px 5px;

    justify-content: space-around;
    color: white;
    border-radius: 20px;
  }

  .Mobile-MintPage__MintAmount-button {
    position: relative;
    background-color: rgba(93, 90, 90, 0.543);

    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .Mobile-MintPage__MintAmount-amount {
    font-size: 30px;
    font-weight: bold;
  }

  .Mobile-MintPage__MintButton-wrapper {
    /* position: absolute;
    top: 500px;
    left: 700px; */
    /* background-color: gray; */
    width: 180px;
    height: 150px;
    display: flex;

    justify-content: center;
    align-items: center;
    cursor: pointer;

    /* background-color: beige; */
  }

  .Mobile-MintPage__MintButton-wrapper img {
    width: 200px;
    height: 170px;
  }

  .WalletConnect {
    /* background-color: aqua; */
    position: inherit;
    margin-top: 10px;
    /* right: 0px;
    top: 30px; */
    /* width: 270px;
    height: 50px;
    background-color: #e81820;
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    justify-content: center; */
  }
}
