@media screen and (max-width: 1000px) {
  .Home {
    display: none;
  }

  .Mobile_Home {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
  }

  .Mobile_Home_maincontainer {
    width: 400px;
    height: 711px;
    background-repeat: no-repeat;
    background-position: center 0;
    /* background-size: 100% 100%; */
    /* background-size: 100%; */
    /* background-size: contain; */

    display: flex;
    justify-content: center;
  }

  .UtilEvent__Main-container {
    width: 100%;
  }

  .Mobile_Home_maincontainer__button-container {
    /* background-color: aqua; */
    /* opacity: 0.5; */

    margin-top: 300px;
    height: 200px;
  }
}
.Mobile_Home_maincontainer__button-container-row {
  display: flex;
  margin-top: 20px;
}

.Mobile_Home__button {
  /* background-color: antiquewhite; */
  margin: 10px;
}

.Mobile_Home__button img {
  width: 120px;
}
