.WalletConnect {
  /* background-color: aqua; */
  position: absolute;
  right: 0px;
  top: 30px;
  width: 270px;
  height: 50px;
  background-color: #e81820;
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
  justify-content: center;
}

.WallectConnectImg {
  width: 270px;
  cursor: pointer;
  border-radius: 50%;
}
