@import "./css/home.css";
@import "./css/mintPage.css";
@import "./css/utilEventMenu.css";
@import "./css/testHome.css";
@import "./css/admin.css";
@import "./css/whitelistCheck.css";
@import "./css/stakingPage.css";
@import "./css/walletConnect.css";

@import "./css/mobile.css";

.App {
  background-color: transparent;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
